.reservation {
  display: flex;
  max-width: 1290px;
  margin: 0 auto;
  gap: 40px;

  .header {
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }

  form {
    display: flex;
    gap: 40px;

    .parent {
      max-width: 345px;
      margin-top: 25px;

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
      }

      hr {
        border: 0.5px solid #5d5cff;
      }

      .box {
        margin-top: 20px;
        border: 1px solid #dfdfff;
        border-radius: 5px;
        padding: 20px;
        display: grid;
        gap: 13px;

        .row {
          display: flex;
          align-items: center;
          gap: 30px;
          margin-top: 10px;
        }

        .checkbox-row {
          display: flex;
          align-items: center;

          input {
            width: 30px;
          }
         
          .checkbox-charge {
            font-weight: 500;
            font-size: 14px;
            margin-left: 20px;
          }
        }
      }
    }

    label {
      font-size: 14px;
    }

    input {
      width: 100%;
      border: 1px solid #dfdfff;
      border-radius: 5px;
      padding: 8px;
      outline: none;
    }
  }

  .summary {
    max-width: 945px;
    margin-top: 25px;

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }

    hr {
      border: 0.5px solid #5d5cff;
    }

    table {
      background-color: #dfdfff;
      width: 100%;
      border: 1px solid #5d5cff;
      margin-top: 20px;
      border-radius: 5px;

      th {
        font-weight: 600;
        font-size: 14px;
      } 

      td {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
